@page "/"

<h3 class="text-center">Book Reviews App!</h3>




<div class="container">
    <div class="row">
        <!--Latest Reviews-->
        <div class="col">
            <LastReviews />
        </div>
        <!--Little Text About Me-->
        <div class="col">
            <!--<AboutMe />-->
        </div>
        <!--Highest Rated Reviews-->
        <div class="col">
            <!--<HighestRated />-->
        </div>
    </div>
</div>

